.service-block {
  display: grid;
  grid-template-areas:
    "image"
    "image"
    "name";

  background: var(--block-background-color);
  border-radius: 50px;
  padding: 1em;
}

.service-block:hover {
  background: var(--block-background-hover-color);
  border-radius: 50px;
  transform: scale(1.2);
  box-shadow: var(--block-hover-shadow);
}

.service-image {
  margin-top: 8%;
  grid-area: image;
}

.service-name {
  grid-area: name;
}
