
/* Dark Mode Button (Simple Grid) */
#dark-mode-btn {
  background: #cfc4c4;
  width: 10em;
  height: 3em;
  border-radius: 70px;
  margin: 2em 0 0 7em;
}

#dark-mode-btn:hover {
  box-shadow: 0 0 15px #17eb17;
}

/* Parts of the button grid */
#dark-mode-txt {
  color: white;
  margin: 1em;
  text-align: center;
}