
/* Dark Mode Button (Simple Grid) */
#dark-mode-btn {
  display: grid;
  grid-template-areas: "txt check";
  grid-template-columns: 70% 30%;

  background: #000000;
  width: 10em;
  height: 3em;
  border-radius: 70px;
  margin: 2em 0 0 7em;
}

#dark-mode-btn:hover {
  box-shadow: 0 0 15px #17eb17;
}

/* Parts of the button grid */
#dark-mode-txt {
  grid-area: txt;

  color: white;
  margin: 1em;
  text-align: center;
}

#check-mark {
  grid-area: check;

  fill: rgb(23, 235, 23);
  display: block;
  margin: auto;
}