/*
  AWS Services Grid Background
  Note: I'm using this as practice for CSS Grids
  Doing this efficiently, you should use flexbox
*/
.service-grid {
  display: grid;
  grid-template-areas:
    "comp comp  fore    fore    le        le    personal  personal"
    "pol  pol   rekog   rekog   tex       tex   transc    transc"
    ".    .     .       transl  transl    .     .         .";
  row-gap: 2em;
  margin: 3em 10em 2em 10em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*
  AWS Services in the Grid
*/
.comprehend {
  grid-area: comp;
  padding: 2em;
}

.forecast {
  grid-area: fore;
  padding: 2em;
}

.lex {
  grid-area: le;
  padding: 2em;
}

.personalize {
  grid-area: personal;
  padding: 2em;
}

.polly {
  grid-area: pol;
  padding: 2em;
}

.rekognition {
  grid-area: rekog;
  padding: 2em;
}

.textract {
  grid-area: tex;
  padding: 2em;
}

.transcribe {
  grid-area: transc;
  padding: 2em;
}

.translate {
  grid-area: transl;
  padding: 2em;
}
