/* Light theme */
.light-theme {
	/* General */
	--background-color: #e4f0ee;
	--text-color: #000000;

	/* Comprehend Service Block */
	--comprehend-block-background-color: #67dfc2;
	--comprehend-block-background-hover-color: #67dfc2;
	--comprehend-block-hover-shadow: 0 0 1em #67dfc2;

	/* Forecast Service Block */
	--forecast-block-background-color: #ff8888;
	--forecast-block-background-hover-color: #ff8888;
	--forecast-block-hover-shadow: 0 0 1em #ff8888;

	/* Personalize Service Block */
	--personalize-block-background-color: #6fb8fa;
	--personalize-block-background-hover-color: #6fb8fa;
	--personalize-block-hover-shadow: 0 0 1em #6fb8fa;

	/* Polly Service Block */
	--polly-block-background-color: #f3906f;
	--polly-block-background-hover-color: #f3906f;
	--polly-block-hover-shadow: 0 0 1em #f3906f;

	/* Rekognition Service Block */
	--rekognition-block-background-color: #b17bf5;
	--rekognition-block-background-hover-color: #b17bf5;
	--rekognition-block-hover-shadow: 0 0 1em #b17bf5;

	/* Textract Service Block */
	--textract-block-background-color: #efbe50;
	--textract-block-background-hover-color: #efbe50;
	--textract-block-hover-shadow: 0 0 1em #efbe50;

	/* Transcribe Service Block */
	--transcribe-block-background-color: #94fe68;
	--transcribe-block-background-hover-color: #94fe68;
	--transcribe-block-hover-shadow: 0 0 1em #94fe68;

	/* Translate Service Block */
	--translate-block-background-color: #ff0b7c;
	--translate-block-background-hover-color: #ff0b7c;
	--translate-block-hover-shadow: 0 0 1em #ff0b7c;

	/* Footer */
	--footer-background-color: rgb(240, 225, 208);

	/* Dark Mode Button */
	--dark-mode-btn-color: #cfc4c4;
	--dark-mode-btn-hover-color: #17eb17;
	--dark-mode-btn-hover: ;
	--dark-mode-btn-hover-text: var(--text-color);

	/* Return to Grid button */
	--grid-button-color: #17eb17;
	--grid-button-hover-shadow: ;

	/* Comprehend page colors */
	--comprehend-txt-field-border: #2684ff;
	--comprehend-btn-color: #37bf84;
	--comprehend-med-btn-color: #ff495c;
	--comprehend-btn-hover-color: #00ff90;
	--comprehend-med-btn-hover-color: #ff0000;
	--comprehend-readonly-color: #b0abab;

	/* Comprehend results page */
	--results-option-bar-hover-color: #67dfc2;
	--results-option-bar-hover-shadow: 0 0 .5em #67dfc2;
	--results-border-color: black;
	--results-border-term-color: black;
}

/* Dark Theme */
.dark-theme {
	/* General */
	--background-color: #121212;
	--text-color: #a19e9e;

	/* Comprehend Service Block */
	--comprehend-block-background-color: linear-gradient(
		360deg,
		#055f4e -23.6%,
		#56c0a7 151.6%
	);
	--comprehend-block-background-hover-color: #56c0a7;
	--comprehend-block-hover-shadow: 0 0 1em #56c0a7;

	/* Forecast Service Block */
	--forecast-block-background-color: linear-gradient(
		360deg,
		#651111 -23.6%,
		#ff8888 151.6%
	);
	--forecast-block-background-hover-color: #ff8888;
	--forecast-block-hover-shadow: 0 0 1em #ff8888;

	/* Personalize Service Block */
	--personalize-block-background-color: linear-gradient(
		360deg,
		#0a2d4c -23.6%,
		#6fb8fa 151.6%
	);
	--personalize-block-background-hover-color: #6fb8fa;
	--personalize-block-hover-shadow: 0 0 1em #6fb8fa;

	/* Polly Service Block */
	--polly-block-background-color: linear-gradient(
		360deg,
		#6b2812 -23.6%,
		#f3906f 151.6%
	);
	--polly-block-background-hover-color: #f3906f;
	--polly-block-hover-shadow: 0 0 1em #f3906f;

	/* Rekognition Service Block */
	--rekognition-block-background-color: linear-gradient(
		360deg,
		#2d055f -23.6%,
		#b17bf5 151.6%
	);
	--rekognition-block-background-hover-color: #b17bf5;
	--rekognition-block-hover-shadow: 0 0 1em #b17bf5;

	/* Textract Service Block */
	--textract-block-background-color: linear-gradient(
		360deg,
		#7b5a11 -23.6%,
		#efbe50 151.6%
	);
	--textract-block-background-hover-color: #efbe50;
	--textract-block-hover-shadow: 0 0 1em #efbe50;

	/* Transcribe Service Block */
	--transcribe-block-background-color: linear-gradient(
		360deg,
		#1e5109 -23.6%,
		#94fe68 151.6%
	);
	--transcribe-block-background-hover-color: #94fe68;
	--transcribe-block-hover-shadow: 0 0 1em #94fe68;

	/* Translate Service Block */
	--translate-block-background-color: linear-gradient(
		360deg,
		#5b052d -23.6%,
		#ff0b7c 151.6%
	);
	--translate-block-background-hover-color: #ff0b7c;
	--translate-block-hover-shadow: 0 0 1em #ff0b7c;

	/* Footer */
	--footer-background-color: rgb(240, 225, 208);

	/* Dark Mode Button */
	--dark-mode-btn-color: #2d8e2c;
	--dark-mode-btn-hover-color: #eb1717;
	--dark-mode-btn-hover: 0 0 0.75em #eb1717;
	--dark-mode-btn-hover-text: #dadada;

	/* Return to Grid button */
	--grid-button-color: #2d8e2c;
	--grid-button-hover-shadow: 0 0 0.75em #17eb17;

	/* Comprehend */
	--comprehend-txt-field-border: #2684ff;
	--comprehend-btn-color: #386510;
	--comprehend-med-btn-color: #651210;
	--comprehend-btn-hover-color: #6fd812;
	--comprehend-med-btn-hover-color: #dc2420;
	--comprehend-readonly-color: #b0abab;

	/* Comprehend results page */
	--results-option-bar-hover-color: #67dfc2;
	--results-option-bar-hover-shadow: 0 0 .5em #67dfc2;
	--results-option-bar-dark-background: #b0abab;
	--results-border-line-color: white;
	--results-border-term-color: white;
}

#app {
	background-size: 100%;
	min-width: 100%;
	min-height: 100%;
}

html {
	background: var(--background-color);
	scroll-behavior: smooth;
}
